body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-logo {
  font-family: "Crimson Text", serif;
  font-weight: 700;
}

/* ----------------------- NAV BAR --------------------------------- */

.nav-logo {
  font-size: 2rem;
}

#navbarNav ul li a {
  margin-left: 30px;
}

.nav-contact {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* ----------------------- HOME SECTION --------------------------------- */

.home-section {
  text-align: center;
}

.home-section h1 {
  position: absolute;
  margin-top: 15vh;
  width: 100vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: whitesmoke;
}

.home-section span img {
  position: absolute;
  height: 13vh;
  width: 100vw;
  margin-top: 35vh;
}

.home-section img {
  width: 100vw;
}

/* ----------------------- WHAT YOU GET SECTION --------------------------------- */

.whatyouget-section img {
  width: 100%;
}

.text-whatyouget-section {
  padding: 5rem;
}

.text-whatyouget-section h2 {
  font-size: 3rem;
}

.text-whatyouget-section p {
  color: darkgray;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
}

.text-whatyouget-section button {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /* text-decoration: underline; */
}

.text-whatyouget-section button::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 10px;
  /* bottom: 20.5%; */
  transform: skew(-12deg) translateX(-0%);
  /* background:hsla(20, 82%, 53%, 0.687); */
  background: hsla(49, 94%, 49%, 0.644);
  z-index: -1;
}

/* ----------------------- WHAT WE DO SECTION --------------------------------- */
.whatwedo-section {
    position:relative;
}

.text-whatwedo-section {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20% 10% 20%;
}

.text-whatwedo-section p{
    margin-top: 25px;
}

.whatwedo-section img {
    width: 100%;
    /* min-height: 50vh; */
   /* z-index: -2; */
}

/* ----------------------- TESTIMONIALS SECTION --------------------------------- */

.testimonials-section h4 {
    text-transform: uppercase;
    color: silver;
    letter-spacing: 3px;
    margin-top: 10%;
}

.testimonials-container {
    margin-top: 5%;
    margin-bottom: 8%;
}

.testimonials-section img {
    height: 20%;
    border-radius: 50% 5%;
}

.testimonials-section p {
    margin: 10% 5% 15% 5%;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color:darkslategray;
}

.testimonials-section span {
    color: silver;
    font-size: smaller;
}

/* ----------------------- IMAGE SECTION --------------------------------- */

.image-section img {
    width: 100%;
}

/* ----------------------- FOOTER SECTION --------------------------------- */

.footer-section, .footer-section li {
    background-color: #8FD4C5;
}

.footer-section h3 {
    color: #307668;
    padding-top: 4%;
}

.footer-links {
    margin-top: 2%;
    margin-bottom: 3.5%;
}

.footer-links a {
    text-decoration: none;
    color: #307668;
    /* pointer-events: none; */
}

.footer-links a:hover {
    color: aliceblue;
} 

.white-background {
    fill: aliceblue;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #8FD4C5;
  padding-top: 2%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
